<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="sidebar-reports">
		<div class="reports-options-sidebar">
			<ul class="reports-options-sidebar-list">
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-user">Incentivo por Usuário</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-group">Incentivo por Grupo</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-customer">Incentivo por Cliente</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-date-between">Incentivo por Período</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-user-details">Incentivo por Usuário
						com Detalhes</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-group-details">Incentivo por Grupo com
						Detalhes</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-customer-details">Incentivo por
						Cliente com Detalhes</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/incentive-date-between-details">Incentivo por
						Período com Detalhes</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/sale-state">Venda por Região</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/sale-flag">Venda por Marca</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/sale-group">Venda por Grupo</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/sale-customer">Venda por Cliente</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/sale-date-between">Venda por Período</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/revenue-user">Faturamento por Usuário</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/revenue-group">Faturamento por Grupo</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/revenue-customer">Faturamento por Cliente</a></li>
				<li class="reports-options-sidebar-list-item"><a
					href="/reports/revenue-date-between">Faturamento por Período</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
